<!-- ポップアップ -->
<div id="popup">
    <p>テストユーザーの方へ<br>下記を用いてログインしてください。</p>
    <p>email: testuser21555@gmail.com<br>password: testuser</p>
    <input type="button" id="close" value="close" style="margin-top: 5px;">
</div>
<script>
  document.getElementById("close").onclick = function() {
  document.getElementById("popup").style.display = "none";
};
</script>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            
<!--<%= link_to image_tag("kitten.jpg", alt: "a cat image") %>-->